In [1]:
# import array
import numpy as np

In [2]:
# create an array
n_array = np.array([[0,1,2,3],[4,5,6,7],[8,9,10,11]])

In [3]:
# print the created array
n_array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [4]:
# find out the dimensions of an array
n_array.ndim

2

In [6]:
# find out the shape of an array
n_array.shape

(3, 4)

In [7]:
# find out the size of an array
n_array.size

12

In [8]:
# find out the data type of each elements in an array
n_array.dtype

dtype('int32')

In [9]:
# print the name of data type of each elements
n_array.dtype.name

'int32'

In [29]:
# array subtraction
# note both array should be same dimension to perform this operation
a = np.array([11, 12, 13, 14])
b = np.array([1, 2, 3, 4])
c = a-b

In [30]:
# now print the resultant array
c

array([10, 10, 10, 10])

In [12]:
# Squaring an array
b**2

array([ 1,  4,  9, 16], dtype=int32)

In [13]:
# A trigonometric function performed on an array
np.cos(b)
# here cosine applied on each elements of b array

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

In [14]:
# condtional operation on an array
b<2    #checking that each elements are grater than 2, if yes than "true" otherwise "false"

array([ True, False, False, False])

In [15]:
# matrix multiplication
a1 = np.array([[1,1],[0,1]])
a2 = np.array([[2,0],[3,4]])
a3 = a1*a2

In [16]:
a3

array([[2, 0],
       [0, 4]])

In [17]:
# dot product of two array
np.dot(a1,a2)

array([[5, 4],
       [3, 4]])

In [18]:
# Indexing and slicing
# perform this for n_array
n_array[0,1]

1

In [19]:
# second row and third column, which is element, printed below
n_array[1,2]

6

In [20]:
# a range can be selected
n_array[0, 0:3]     # here first row and first three columns are slelcted

array([0, 1, 2])

In [21]:
# whole values of a row select 
n_array[0, :]

array([0, 1, 2, 3])

In [23]:
# whole values of a column can be select
n_array[:, 1] # here second column and all rows are selected

array([1, 5, 9])

In [25]:
# shape manipulation
n_array.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [26]:
# you can reshaping elements like this
n_array.shape=(6,2)

In [27]:
n_array

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11]])

In [28]:
# an array can be transposed too
n_array.transpose()

array([[ 0,  2,  4,  6,  8, 10],
       [ 1,  3,  5,  7,  9, 11]])